<div id="cms-navbar-selector"></div>
<div id="cms-navbar">
 	<img src="{{HTTP_ROOT}}nilbog/images/icons/add.png" title="New Page - This Level" height="16" width="16"/>

	<select>
		<option>Home Page</option>
		<option>About</option>
		<option>Contact Us</option>
	</select>
	
	<img src="{{HTTP_ROOT}}nilbog/images/icons/page_edit.png" title="Edit Page Properties" height="16" width="16"/>
	
	<img src="{{HTTP_ROOT}}nilbog/images/icons/layout_edit.png" title="Edit Site Properties" height="16" width="16"/>
	
	<img src="{{HTTP_ROOT}}nilbog/images/icons/plugin.png" title="Plugins" height="16" width="16"/>
	
	<img src="{{HTTP_ROOT}}nilbog/images/task.png" title="Tasks" height="16" width="16"/>
	
	<img src="{{HTTP_ROOT}}nilbog/images/icons/stock_mail.png" title="Messages" height="16" width="16"/>
</div>