<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Wooden Template, Portfolio Website, Free CSS Template</title>
<meta name="keywords" content="Wooden Template, Portfolio Website, Personal, Free CSS Template, XHTML" />
<meta name="description" content="Wooden Template, Portfolio Website, Free CSS Template from TemplateMo.com" />

<link href="{{HTTP_ROOT}}templates/wooden/style.css" rel="stylesheet" type="text/css" />

</head>
<body id="{{PageId}}">

<div id="header_bg_wrapper">
	<div id="header_title">
		<h1><a href="{{HTTP_ROOT}}" target="_BLANK">
            nilbog
            <span>cms demonstration</span>
        </a></h1>

	</div>
</div>

<div id="content_bg_wrapper">
	<div id="content_nav">
		<div id="nav">
			[[menu]]
		</div>
	</div>
	<div id="content" class="cms-editable">
		<h2>Welcome to the Nilbog CMS Demo</h2>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et tellus nec justo mollis adipiscing auctor id metus. Integer augue odio, pulvinar quis ullamcorper eu, viverra sed risus. Integer tortor nisi, lacinia vel rhoncus eu, luctus id velit. Vestibulum condimentum facilisis odio, quis fringilla sem facilisis ac. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed elit justo, mollis sed ultricies sollicitudin, mollis ut sapien. Maecenas venenatis volutpat iaculis. Sed hendrerit porta est vel ultrices. Vivamus fermentum facilisis fermentum. Duis tincidunt sollicitudin tincidunt. Curabitur ac nisi ac justo condimentum convallis. Mauris eget luctus felis. Maecenas et lectus non elit aliquet venenatis. Nunc sem metus, blandit at lacinia sit amet, ultricies non sapien.</p>

		<p>Etiam at ornare erat. Suspendisse felis dui, dignissim non malesuada mollis, placerat nec augue. Nunc turpis odio, dignissim vitae gravida ut, gravida eu metus. Aliquam dictum sodales arcu ut vehicula. Suspendisse mi enim, blandit non faucibus et, congue vel nisi. Mauris vulputate pretium rhoncus. Duis hendrerit, dui in commodo tempor, lacus nulla eleifend orci, at tincidunt nulla odio et neque. Morbi id tempus risus. Quisque varius molestie odio, sit amet rhoncus nibh volutpat a. Suspendisse potenti. Praesent aliquam, urna fringilla tincidunt semper, lorem lacus commodo magna, nec laoreet risus orci nec ante. Quisque fringilla, leo eu convallis consectetur, nisl quam lacinia leo, id venenatis ante dui at massa. Phasellus euismod ornare dictum.</p>
	</div>
</div>

<div id="footer_bg_wrapper">
	<div id="footer">
		&copy; Nilbog CMS
	</div>
</div>

	
</body>
</html>